/*------------------------------------
    Eight color style sheet
	
	just replace "ff6853" with your custom color
------------------------------------*/
#switcher .theme-click {
	background-color: #ff6853;
}
section h2 {
	background: url(/images/heading-icon-eight.png) no-repeat left top;
}
section h2 span {
	color: #ff6853;
}
.top-wrapper {
	background: #ff6853;
}
.nav > li > a {
	border-bottom: dashed 1px #ffb3a8;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #ff6853;
}
.banner-wrapper .fade-carousel .carousel-control span:hover {
	border: 1px solid #ff6853;
	background: #ff6853;
}
.banner-wrapper .btn-hero:hover {
	border: 1px solid #ff6853;
	background: #ff6853;
}
.header-forms .ui-widget-header {
	background: #ff6853;
}
.header-forms .price-range input {
	color: #ff6853;
}
.header-forms li .popup form .btn {
	background: #ff6853;
}
.header-forms li .popup [type="radio"]:not(:checked) + label:before, .header-forms li .popup [type="radio"]:checked + label:before {
	border: solid 1px #ff6853;
}
.header-forms li .popup [type="radio"]:not(:checked) + label:after, .header-forms li .popup [type="radio"]:checked + label:after {
	color: #ff6853;
}
.header-forms li .new-account a {
	border: solid 1px #ff6853;
	color: #ff6853;
}
.header-forms li .new-account.reg h3 strong {
	color: #ff6853;
}
.header-forms .ui-slider .ui-slider-handle {
	background: url(/images/slider-handle-eight.png) no-repeat left center;
}
.header-forms li .new-account ul li {
	background: url(/images/bullet-eight.png) no-repeat left 5px;
}
.testimonials-wrapper {
	background: url(/images/testimonials-bg-eight.png) repeat left top;
}
.testimonials-wrapper h2 {
	background-image: url(/images/heading-icon-white-eight.png);
}
.choose-property .nav-tabs li.active a, .choose-property .nav-tabs li.active a:hover, .choose-property .nav-tabs li a:hover {
	border-top: solid 2px #ff6853;
}
.choose-property .ui-widget-header {
	background: #ff6853;
}
.choose-property .ui-slider .ui-slider-handle {
	background: url(/images/slider-handle-eight.png) no-repeat left center;
}
.choose-property .choose-property-form .price-range input {
	color: #ff6853;
}
.better-property .item .property-callout .callout-content .price {
	color: #ff6853;
}
.better-property .item .property-callout .property-img .sale {
	background: #ff6853;
}
.better-property .item .property-callout:hover .callout-content .share-property {
	background-color: #ff6853;
}
.better-property .owl-theme .owl-controls .owl-buttons div {
	color: #ff6853;
}
.satisfied-wrapper .counter:hover .icon.clients {
	background: url(/images/clients-icon-hover-eight.png) no-repeat center center;
}
.satisfied-wrapper .counter:hover .icon.apartments {
	background: url(/images/apartments-icon-hover-eight.png) no-repeat center center;
}
.satisfied-wrapper .counter:hover .icon.house-villas {
	background: url(/images/house-villas-icon-hover-eight.png) no-repeat center center;
}
.satisfied-wrapper .counter:hover .icon.agents {
	background: url(/images/agents-icon-hover-eight.png) no-repeat center center;
}
.blog .thumbnail:hover .caption a.readmore {
	color: #ff6853;
}
.blog .thumbnail:hover .caption a {
	color: #ff6853;
}
.blog .date li {
	background: #ff6853;
}
.blog .caption .posted span {
	color: #ff6853;
}
.inner-breadcrumb {
	border-bottom: solid 1px #ff6853;
}
.inner-wrapper.aboutus .item .team-content h3 {
	color: #ff6853;
}
.inner-wrapper.aboutus .owl-theme .owl-controls .owl-buttons div {
	color: #ff6853;
}
.cmg-soon .count-down .countdown-row .countdown-amount {
	color: #ff6853;
}
.cmg-soon .subscirbe h3 {
	color: #ff6853;
}
.cmg-soon .subscirbe .form input.bttn {
	background: #ff6853;
}
.not-found a:hover {
	background: #ff6853;
	border: 1px solid #ff6853;
}
.property-list .nav-tabs li.active a, .property-list .nav-tabs li.active a:hover, .property-list .nav-tabs li a:hover {
	border-top: solid 2px #ff6853;
}
.property-list .ui-widget-header {
	background: #ff6853;
}
.property-list .property-list-form .price-range input {
	color: #ff6853;
}
.property-list .contact-experts h3 span {
	color: #ff6853;
}
.property-list .contact-experts h4 {
	color: #ff6853;
}
.property-list .ui-slider .ui-slider-handle {
	background: url(/images/slider-handle-eight.png) no-repeat left center;
}
.inner-property-details .table-custom th {
	color: #ff6853;
}
.inner-property-details .book:hover {
	background: #ff6853;
}
.inner-wrapper .single-post .list-inline li a:hover {
	background: #ff6853;
}
.inner-wrapper .single-post .btn-1 {
	background: #ff6853;
}
.inner-wrapper .single-post .sidebar h2::after {
	background-color: #ff6853;
}
.inner-wrapper .sidebar .tags li:hover {
	background: #ff6853;
}
.inner-wrapper .sidebar .download-services a {
	background: #ff6853;
}
.gal-item::before {
	background: rgba(255, 104, 83, 0.8) none repeat scroll 0 0;
}
.inner-wrapper.contactus form .btn {
	background: #ff6853;
}
.inner-wrapper.contactus [type="radio"]:not(:checked) + label:before, .inner-wrapper.contactus [type="radio"]:checked + label:before {
	border: solid 1px #ff6853;
}
.inner-wrapper.contactus [type="radio"]:not(:checked) + label:after, .inner-wrapper.contactus [type="radio"]:checked + label:after {
	color: #ff6853;
}
.footer-wrapper h2 {
	color: #ff6853;
}
.footer-wrapper .form input.bttn {
	background: #ff6853;
}

@media (max-width: 767px) {
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ff6853;
}
}
